# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env

# Testing & Coverage
*.pytest_cache/
*.coverage
*.tox/
*.hypothesis/

# IDE & System files
.vscode/
.idea/
.DS_Store
.logs
.log

# Project Outputs
map_europe.html